@model PostIt.Domain.Entities.Note

<div class="note-info-container">
    <ul>
        <li>Author: <span class="note-info-author">Widwards</span></li>
        <li>Comments: <span class="node-info-comments">0</span></li>
        <li>Date: <span class="note-info-date">@Model.Date.ToShortDateString()</span></li>
    </ul>
</div>